@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px;}
.fa-fw {width: 2em;}
#wrap_body{
	margin-top: 20px;
}
#header{
margin-bottom: 20px;	
}
#wrap_content{
	padding: 100px;
}
#form_tmbobat{
	display: none;
}
#b-tmbobat{
	margin-left: -600px;
	margin-bottom: 10px;
}
#b-inputmasuk{
margin-bottom: 10px;
margin-left: -600px;	
}
.form-brgmasuk{
display: none;	
}
.mdal_cetak{
display: none;
position: fixed;
 z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
}
.mdal_request{
display: none;
position: fixed;
 z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
}
#mdal_karyawan{
display: none;
position: fixed;
 z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
}
#btn-pengajuan{
  margin-bottom:  30px;
}